
       

        /* img {
            max-width: 200px;
            margin-bottom: 20px;
        }

        h1 {
            color: #21b6e0;
            font-size: 2rem;
        }

        p {
            color: #333;
            font-size: 1.2rem;
        } */
   

        body {
    background-color: #c1e8da;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sans-serif;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;
}

.text-content {
    flex: 1;
    padding: 20px;
}

.image-content {
    flex: 2;
    text-align: right;
}

.image-content img {
    width: 90%;
    max-width: none;
}

h1 {
    color: #21b6e0;
    font-size: 2rem;
    text-align: left;
}

p {
    color: #333;
    font-size: 1.2rem;
    text-align: left;
}

a {
    text-decoration: none;
    color: #21b6e0;
    display: inline-block;
    margin-top: 20px;
}
